@import "../variables.scss";

.preferences {
  background-color: #f4f4f4;
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;

  &-header{
    font-family: $main-font-2;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.19;
    text-align: center;
    color: $main-color;
    margin: 0 30px 40px 30px;
  }
  &-items{
    &-image1{
      background-image:url("../img/icon2.png") ;
    }
    &-image2 {
      background-image:url("../img/icon.png") ;
    }
    &-image3 {
      background-image:url("../img/icon1 (1).png") ;
    }
    &-image4 {
      background-image: url("../img/icon4.png");
    }
    &-header{
      font-family: $main-font-2;
      font-size: 16px;
      line-height: 1.31;
      color: #323232;
      text-align: center;
    }
    &-text{
      text-align: center;
      font-family:$main-font-1;
      font-size: 14px;
      line-height: 1.5;
      color: #848e97;
    }
  }
}
.bck-img {
  min-height: 84px;
  min-width: 111px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.pref-item-cont {
  margin-bottom: 40px;
}
.window {
  width: 101%;
  height: 346px;
  margin-left: 12px;
  background-image: url("../img/tempsnip.png");
  background-repeat: no-repeat;
  background-position: top left;
}