@import "../variables.scss";

.btn {
    background-color: $main-color;
    border-radius: 44px;
    font-family: $main-font-2;
    font-size: 15px;
    color: $text-color-light;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;

    &:hover {
        color: $main-color;
        background-color: $text-color-light;
    }

    &-small {
        padding: 12px 24px;
        z-index: 5;
    }

    &-long {
        padding: 15px 31px;
        position: absolute;
        bottom: -22px;
        left: 50%;
        transform: translateX(-50%);
        min-width: 290px;
    }
}

@media only screen and (min-width: $tablet) {
    .btn-small {
        padding: 12px 35px;
    }
}

@media only screen and (min-width: $desktop) {
    .btn-small {
        position: absolute;
        right: 0;
    }
}