.btn {
  background-color: #8d81ac;
  border-radius: 44px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700; }
  .btn-small {
    padding: 12px 24px; }
